APP_ENV=development
HTTP_ADDRESS=:8080
HTTP_SHUTDOWN_TIMEOUT=10s
HTTP_READ_HEADER_TIMEOUT=10s
HTTP_READ_TIMEOUT=30s
HTTP_WRITE_TIMEOUT=30s
HTTP_IDLE_TIMEOUT=120s
LOG_LEVEL=info
DATABASE_URL=postgres://avito-recap:avito-recap@localhost:5433/avito-recap?sslmode=disable
POSTGRES_DB=avito-recap
POSTGRES_USER=avito-recap
POSTGRES_PASSWORD=avito-recap
POSTGRES_PORT=5433
